<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,347},{172,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,113}}</string>
                <key>sourceSize</key>
                <string>{172,113}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{172,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,113}}</string>
                <key>sourceSize</key>
                <string>{172,113}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,232},{172,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,113}}</string>
                <key>sourceSize</key>
                <string>{172,113}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{172,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,113}}</string>
                <key>sourceSize</key>
                <string>{172,113}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,117},{172,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,113}}</string>
                <key>sourceSize</key>
                <string>{172,113}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{172,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,113}}</string>
                <key>sourceSize</key>
                <string>{172,113}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{172,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,113}}</string>
                <key>sourceSize</key>
                <string>{172,113}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,113}}</string>
                <key>sourceSize</key>
                <string>{172,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ziyuan.png</string>
            <key>size</key>
            <string>{350,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9849e94c18e639105fbf92bc2828e380:1/1$</string>
            <key>textureFileName</key>
            <string>ziyuan.png</string>
        </dict>
    </dict>
</plist>
