<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>History/fram_log_flat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,177},{87,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,34}}</string>
                <key>sourceSize</key>
                <string>{87,34}</string>
            </dict>
            <key>History/fram_log_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,89},{87,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,34}}</string>
                <key>sourceSize</key>
                <string>{87,34}</string>
            </dict>
            <key>History/fram_log_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,722},{108,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,204}}</string>
                <key>sourceSize</key>
                <string>{108,204}</string>
            </dict>
            <key>History/fram_log_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,1},{87,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,34}}</string>
                <key>sourceSize</key>
                <string>{87,34}</string>
            </dict>
            <key>History/txt_Ztype_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,681},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>History/txt_Ztype_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,657},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>History/txt_Ztype_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,705},{47,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,22}}</string>
                <key>sourceSize</key>
                <string>{47,22}</string>
            </dict>
            <key>History/txt_Ztype_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,893},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>History/txt_Ztype_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,943},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>History/txt_Ztype_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,925},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,23}}</string>
                <key>sourceSize</key>
                <string>{46,23}</string>
            </dict>
            <key>History/txt_type_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,833},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>History/txt_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,951},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>History/txt_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2015,833},{42,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,19}}</string>
                <key>sourceSize</key>
                <string>{42,19}</string>
            </dict>
            <key>History/txt_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,925},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>History/txt_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,951},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>History/txt_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,944},{41,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,20}}</string>
                <key>sourceSize</key>
                <string>{41,20}</string>
            </dict>
            <key>compare/icon_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,309},{662,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,307}}</string>
                <key>sourceSize</key>
                <string>{662,307}</string>
            </dict>
            <key>compare/icon_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1},{665,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,307}}</string>
                <key>sourceSize</key>
                <string>{665,307}</string>
            </dict>
            <key>compare/txt_Defeat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,934},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Defeat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,934},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Defeat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,830},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Defeat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,925},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>compare/txt_Defeat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,705},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>compare/txt_Defeat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,642},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>compare/txt_Win_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,939},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,939},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,859},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,768},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>compare/txt_Win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,559},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>compare/txt_Win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,525},{62,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,33}}</string>
                <key>sourceSize</key>
                <string>{62,33}</string>
            </dict>
            <key>total/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,942},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>total/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2033,876},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>total/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,446},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>total/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,893},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>total/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,290},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>total/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,942},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>total/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,876},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>total/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2025,265},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>total/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,928},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>total/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,876},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>total/fram_total.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,1},{288,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,50}}</string>
                <key>sourceSize</key>
                <string>{288,50}</string>
            </dict>
            <key>total/txt_Already_bets.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,934},{105,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,22}}</string>
                <key>sourceSize</key>
                <string>{105,22}</string>
            </dict>
            <key>total/txt_gold_comma.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,922},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>total/txt_gold_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,965},{7,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,6}}</string>
                <key>sourceSize</key>
                <string>{7,6}</string>
            </dict>
            <key>total/txt_gold_total.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,928},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>zhajinhua/btn_Arrow_F.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,928},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>zhajinhua/btn_Arrow_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,928},{38,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,54}}</string>
                <key>sourceSize</key>
                <string>{38,54}</string>
            </dict>
            <key>zhajinhua/btn_confirm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,290},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>zhajinhua/btn_confirm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,309},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>zhajinhua/btn_desktop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,645},{310,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,268}}</string>
                <key>sourceSize</key>
                <string>{310,268}</string>
            </dict>
            <key>zhajinhua/btn_setUp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,919},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>zhajinhua/btn_setUp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,919},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>zhajinhua/btn_state_Stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,874},{112,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,50}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>zhajinhua/btn_state_Stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,446},{112,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,50}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>zhajinhua/btn_state_Stand_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,914},{112,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,50}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>zhajinhua/btn_state_cancel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,782},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>zhajinhua/btn_state_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,645},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>zhajinhua/btn_state_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,859},{112,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,50}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>zhajinhua/btn_state_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,859},{112,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,50}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>zhajinhua/btn_state_repeat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,722},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>zhajinhua/btn_state_repeat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,722},{136,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,58}}</string>
                <key>sourceSize</key>
                <string>{136,58}</string>
            </dict>
            <key>zhajinhua/fram_Glass.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,873},{175,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,70}}</string>
                <key>sourceSize</key>
                <string>{175,70}</string>
            </dict>
            <key>zhajinhua/fram_desktop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,722},{150,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,264}}</string>
                <key>sourceSize</key>
                <string>{150,264}</string>
            </dict>
            <key>zhajinhua/fram_desktop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,722},{151,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,264}}</string>
                <key>sourceSize</key>
                <string>{151,264}</string>
            </dict>
            <key>zhajinhua/fram_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,722},{415,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,104}}</string>
                <key>sourceSize</key>
                <string>{415,104}</string>
            </dict>
            <key>zhajinhua/fram_fapai_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,827},{216,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,106}}</string>
                <key>sourceSize</key>
                <string>{216,106}</string>
            </dict>
            <key>zhajinhua/fram_fapai_gaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,874},{73,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,64}}</string>
                <key>sourceSize</key>
                <string>{73,64}</string>
            </dict>
            <key>zhajinhua/fram_txt_Bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,831},{102,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,199}}</string>
                <key>sourceSize</key>
                <string>{102,199}</string>
            </dict>
            <key>zhajinhua/fram_txt_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,827},{100,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,195}}</string>
                <key>sourceSize</key>
                <string>{100,195}</string>
            </dict>
            <key>zhajinhua/fram_txt_position.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,914},{116,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,48}}</string>
                <key>sourceSize</key>
                <string>{116,48}</string>
            </dict>
            <key>zhajinhua/icon_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,309},{662,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,307}}</string>
                <key>sourceSize</key>
                <string>{662,307}</string>
            </dict>
            <key>zhajinhua/icon_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1},{665,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,307}}</string>
                <key>sourceSize</key>
                <string>{665,307}</string>
            </dict>
            <key>zhajinhua/icon_lightn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,309},{335,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,335}}</string>
                <key>sourceSize</key>
                <string>{335,335}</string>
            </dict>
            <key>zhajinhua/login_ZJH.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>zhajinhua/txt_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,914},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>zhajinhua/txt_feng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,798},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>zhajinhua/txt_he.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,476},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>zhajinhua/txt_lei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,763},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>zhajinhua/txt_position_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,265},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>zhajinhua/txt_position_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,942},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>zhajinhua/txt_position_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,934},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>zhajinhua/txt_position_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,943},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>zhajinhua/txt_ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,427},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>zhajinhua/txt_yv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,728},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>zhajinhua/txt_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,622},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>zhuang/btn_grab_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,874},{82,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,68}}</string>
                <key>sourceSize</key>
                <string>{82,68}</string>
            </dict>
            <key>zhuang/btn_grab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,559},{82,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,68}}</string>
                <key>sourceSize</key>
                <string>{82,68}</string>
            </dict>
            <key>zhuang/btn_grab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,873},{82,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,68}}</string>
                <key>sourceSize</key>
                <string>{82,68}</string>
            </dict>
            <key>zhuang/txt_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,944},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>zhuang/txt_cancel_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,944},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>zhuang/txt_even.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,944},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>zhuang/txt_even_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,934},{65,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,24}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>zhuang/txt_grab.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,934},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>zhuang/txt_grab_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,922},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhajinhua.png</string>
            <key>size</key>
            <string>{2044,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b78443c116ba3bd8f2c077f1252a5393:1/1$</string>
            <key>textureFileName</key>
            <string>zhajinhua.png</string>
        </dict>
    </dict>
</plist>
