<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chats/btn_Expression_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1065},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chats/btn_Expression_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,979},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>chats/btn_Sengout_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1210},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>chats/btn_Sengout_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1153},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>chats/btn_Voice_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1135},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>chats/btn_Voice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1065},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>chats/btn_channel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1218},{214,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,74}}</string>
                <key>sourceSize</key>
                <string>{214,74}</string>
            </dict>
            <key>chats/btn_channel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1218},{214,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,74}}</string>
                <key>sourceSize</key>
                <string>{214,74}</string>
            </dict>
            <key>chats/btn_errand _1.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1179},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>chats/btn_errand _2.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1179},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>chats/btn_horn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1109},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>chats/btn_horn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1065},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>chats/fram_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,722},{256,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,188}}</string>
                <key>sourceSize</key>
                <string>{256,188}</string>
            </dict>
            <key>chats/fram_sound_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1211},{96,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,75}}</string>
                <key>sourceSize</key>
                <string>{96,75}</string>
            </dict>
            <key>chats/fram_sound_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1135},{96,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,75}}</string>
                <key>sourceSize</key>
                <string>{96,75}</string>
            </dict>
            <key>chats/fram_sound_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1038},{96,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,75}}</string>
                <key>sourceSize</key>
                <string>{96,75}</string>
            </dict>
            <key>chats/frame_Baseline.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1034},{30,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,134}}</string>
                <key>sourceSize</key>
                <string>{30,134}</string>
            </dict>
            <key>chats/frame_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,720}}</string>
                <key>sourceSize</key>
                <string>{640,720}</string>
            </dict>
            <key>chats/frame_phiz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,722},{495,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,400}}</string>
                <key>sourceSize</key>
                <string>{495,400}</string>
            </dict>
            <key>chats/icon_Division.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,722},{4,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,41}}</string>
                <key>sourceSize</key>
                <string>{4,41}</string>
            </dict>
            <key>chats/txt_Isthetape.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,979},{138,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,54}}</string>
                <key>sourceSize</key>
                <string>{138,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chats.png</string>
            <key>size</key>
            <string>{642,1293}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5747d2da217e937ba40c0ef9af2b4d45:1/1$</string>
            <key>textureFileName</key>
            <string>chats.png</string>
        </dict>
    </dict>
</plist>
