<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common/btn_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,1},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>common/btn_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,30},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>common/icon_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1277,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1277,102}}</string>
                <key>sourceSize</key>
                <string>{1277,102}</string>
            </dict>
            <key>common/txt_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,1},{107,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,92}}</string>
                <key>sourceSize</key>
                <string>{107,92}</string>
            </dict>
            <key>common/txt_V.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,1},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>common/txt_compare.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>common/txt_defeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,1},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>common/txt_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,64},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>common/txt_flat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,1},{82,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,79}}</string>
                <key>sourceSize</key>
                <string>{82,79}</string>
            </dict>
            <key>common/txt_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,1},{83,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,80}</string>
            </dict>
            <key>common/txt_xian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,64},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>common/txt_xian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,64},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>common/txt_xian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,64},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>compare.png</string>
            <key>size</key>
            <string>{1890,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c238fd3e0386443f199432e68d71b68:1/1$</string>
            <key>textureFileName</key>
            <string>compare.png</string>
        </dict>
    </dict>
</plist>
