<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_Determine.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1},{144,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,65}}</string>
                <key>sourceSize</key>
                <string>{144,65}</string>
            </dict>
            <key>btn_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>btn_plus_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>btn_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,30},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>btn_reduce_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,30},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>txt_Determine.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,28}</string>
            </dict>
            <key>txt_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1},{189,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,69}}</string>
                <key>sourceSize</key>
                <string>{189,69}</string>
            </dict>
            <key>txt_rectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{410,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,60}}</string>
                <key>sourceSize</key>
                <string>{410,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exchange.png</string>
            <key>size</key>
            <string>{911,71}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:382e47d6c6978f03981cfe370f4ec96c:1/1$</string>
            <key>textureFileName</key>
            <string>exchange.png</string>
        </dict>
    </dict>
</plist>
