<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fram_Input_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>txt_commit.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{59,28}</string>
            </dict>
            <key>txt_crosshead.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{134,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,29}}</string>
                <key>sourceSize</key>
                <string>{134,29}</string>
            </dict>
            <key>txt_feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,69}}</string>
                <key>sourceSize</key>
                <string>{100,69}</string>
            </dict>
            <key>txt_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,33},{135,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,29}}</string>
                <key>sourceSize</key>
                <string>{135,29}</string>
            </dict>
            <key>txt_phone.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{135,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,29}}</string>
                <key>sourceSize</key>
                <string>{135,29}</string>
            </dict>
            <key>txt_problem.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,33},{133,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,29}}</string>
                <key>sourceSize</key>
                <string>{133,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>feedback.png</string>
            <key>size</key>
            <string>{467,73}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eca030aa826e5b2c7c31183811688c95:1/1$</string>
            <key>textureFileName</key>
            <string>feedback.png</string>
        </dict>
    </dict>
</plist>
