<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friends/btn_add_friends_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,62},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>friends/btn_add_friends_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>friends/btn_add_game_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,86},{82,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,36}}</string>
                <key>sourceSize</key>
                <string>{82,36}</string>
            </dict>
            <key>friends/btn_add_game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,40},{82,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,36}}</string>
                <key>sourceSize</key>
                <string>{82,36}</string>
            </dict>
            <key>friends/btn_disable_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,2},{82,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,36}}</string>
                <key>sourceSize</key>
                <string>{82,36}</string>
            </dict>
            <key>friends/btn_friends_list_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,62},{198,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,58}}</string>
                <key>sourceSize</key>
                <string>{198,58}</string>
            </dict>
            <key>friends/btn_friends_list_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{198,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,58}}</string>
                <key>sourceSize</key>
                <string>{198,58}</string>
            </dict>
            <key>friends/btn_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,2},{82,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,36}}</string>
                <key>sourceSize</key>
                <string>{82,36}</string>
            </dict>
            <key>friends/btn_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,2},{82,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,36}}</string>
                <key>sourceSize</key>
                <string>{82,36}</string>
            </dict>
            <key>friends/fram_friends_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,89}}</string>
                <key>sourceSize</key>
                <string>{436,89}</string>
            </dict>
            <key>friends/fram_input_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,73},{288,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,44}}</string>
                <key>sourceSize</key>
                <string>{288,44}</string>
            </dict>
            <key>friends/fram_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{2,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,383}}</string>
                <key>sourceSize</key>
                <string>{2,383}</string>
            </dict>
            <key>friends/txt_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,97},{34,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,16}}</string>
                <key>sourceSize</key>
                <string>{34,16}</string>
            </dict>
            <key>friends/txt_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,97},{33,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,15}}</string>
                <key>sourceSize</key>
                <string>{33,15}</string>
            </dict>
            <key>friends/txt_friends_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{189,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,69}}</string>
                <key>sourceSize</key>
                <string>{189,69}</string>
            </dict>
            <key>friends/txt_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{34,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,16}}</string>
                <key>sourceSize</key>
                <string>{34,16}</string>
            </dict>
            <key>friends/txt_search_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,93},{56,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,19}}</string>
                <key>sourceSize</key>
                <string>{56,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friends.png</string>
            <key>size</key>
            <string>{1268,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63a0688444061e7841e744dd42014285:1/1$</string>
            <key>textureFileName</key>
            <string>friends.png</string>
        </dict>
    </dict>
</plist>
