<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help/btn_help_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,329},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>help/btn_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,268},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>help/btn_odds_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>help/btn_odds_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>help/btn_playmethod_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,198},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>help/btn_playmethod_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>help/spr_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,268},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>help/spr_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,398}}</string>
                <key>sourceSize</key>
                <string>{640,398}</string>
            </dict>
            <key>help/spr_scrollBar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1},{40,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,375}}</string>
                <key>sourceSize</key>
                <string>{40,375}</string>
            </dict>
            <key>help/txt_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,198},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{860,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07c6f32986aad7e387dfdb67b0ed88f5:1/1$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
