<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login/bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>login/btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1942},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>login/btn_login_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,196},{188,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,58}}</string>
                <key>sourceSize</key>
                <string>{188,58}</string>
            </dict>
            <key>login/btn_login_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,3},{188,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,58}}</string>
                <key>sourceSize</key>
                <string>{188,58}</string>
            </dict>
            <key>login/fram_txt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1368},{68,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,78}}</string>
                <key>sourceSize</key>
                <string>{68,78}</string>
            </dict>
            <key>login/icon_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1454},{833,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{833,242}}</string>
                <key>sourceSize</key>
                <string>{833,242}</string>
            </dict>
            <key>login/icon_logo_xp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,728},{598,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,141}}</string>
                <key>sourceSize</key>
                <string>{598,141}</string>
            </dict>
            <key>login/icon_screen0.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1946},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>login/icon_screen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1946},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>login/icon_screen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1946},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>login/icon_screen3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1946},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>login/loginBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1454},{358,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,437}}</string>
                <key>sourceSize</key>
                <string>{358,437}</string>
            </dict>
            <key>login/sprRole_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,728},{1246,721}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1246,721}}</string>
                <key>sourceSize</key>
                <string>{1246,721}</string>
            </dict>
            <key>login/txt_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1946},{82,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,35}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
            <key>login/txt_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1946},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,28}}</string>
                <key>sourceSize</key>
                <string>{56,28}</string>
            </dict>
            <key>login/txt_confirm_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,569},{125,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,33}}</string>
                <key>sourceSize</key>
                <string>{125,33}</string>
            </dict>
            <key>login/txt_confirm_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1896},{148,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,40}}</string>
                <key>sourceSize</key>
                <string>{148,40}</string>
            </dict>
            <key>login/txt_landing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,389},{148,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,40}}</string>
                <key>sourceSize</key>
                <string>{148,40}</string>
            </dict>
            <key>login/txt_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1331},{125,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,32}}</string>
                <key>sourceSize</key>
                <string>{125,32}</string>
            </dict>
            <key>login/txt_password.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1946},{82,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,35}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
            <key>login/txt_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,1896},{148,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,41}}</string>
                <key>sourceSize</key>
                <string>{148,41}</string>
            </dict>
            <key>login/txt_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,3},{561,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,36}}</string>
                <key>sourceSize</key>
                <string>{561,36}</string>
            </dict>
            <key>server/bar_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,542},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>server/btn_select_serve_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1941},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>server/btn_select_serve_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1942},{60,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,71}}</string>
                <key>sourceSize</key>
                <string>{60,71}</string>
            </dict>
            <key>server/busy_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,594},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>server/fram_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1454},{520,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,181}}</string>
                <key>sourceSize</key>
                <string>{520,181}</string>
            </dict>
            <key>server/fram_scroll_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,699},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>server/fram_server_item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1941},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>server/fram_server_item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,1368},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>server/leisure_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1946},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>server/more_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1896},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>server/ordinary_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,569},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>server/txt_affirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1946},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>server/txt_server.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1946},{184,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,40}}</string>
                <key>sourceSize</key>
                <string>{184,40}</string>
            </dict>
            <key>splash/bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>splash/txt_game_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1701},{833,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{833,240}}</string>
                <key>sourceSize</key>
                <string>{833,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{1398,2005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:323515eca2e1a0ea980ada88c26bf657:1/1$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
