<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>packet/btn_Close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,336},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>packet/btn_Close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,452},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>packet/btn_Orangebtn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,437},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>packet/btn_Orangebtn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,1},{116,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,54}}</string>
                <key>sourceSize</key>
                <string>{116,54}</string>
            </dict>
            <key>packet/btn_Whole_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,392},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>packet/btn_Whole_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,388},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>packet/btn_packet_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,392},{50,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>packet/btn_packet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,456},{50,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,59}}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>packet/btn_yellowheart.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,118},{110,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,29}}</string>
                <key>sourceSize</key>
                <string>{110,29}</string>
            </dict>
            <key>packet/fram_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1},{454,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,60}}</string>
                <key>sourceSize</key>
                <string>{454,60}</string>
            </dict>
            <key>packet/fram_Packet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{512,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,683}}</string>
                <key>sourceSize</key>
                <string>{512,683}</string>
            </dict>
            <key>packet/icon_Light_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1},{238,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,104}}</string>
                <key>sourceSize</key>
                <string>{238,104}</string>
            </dict>
            <key>packet/icon_details.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,229},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>packet/txt_Beoverdue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,229},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>packet/txt_Beoverdue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,347},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>packet/txt_Determine.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,170},{58,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{58,28}</string>
            </dict>
            <key>packet/txt_Fahongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,240},{147,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,52}}</string>
                <key>sourceSize</key>
                <string>{147,52}</string>
            </dict>
            <key>packet/txt_Fahongbao_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,482},{89,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,28}}</string>
                <key>sourceSize</key>
                <string>{89,28}</string>
            </dict>
            <key>packet/txt_Has_brought_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,240},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>packet/txt_Has_brought_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>packet/txt_NoCollar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,118},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>packet/txt_NoCollar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,240},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>packet/txt_NoCollar_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,108},{61,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,29}}</string>
                <key>sourceSize</key>
                <string>{61,29}</string>
            </dict>
            <key>packet/txt_Receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,254},{37,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,17}}</string>
                <key>sourceSize</key>
                <string>{37,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>packet.png</string>
            <key>size</key>
            <string>{956,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdf3e8ec827976b62ce8a45aa42bbe0f:1/1$</string>
            <key>textureFileName</key>
            <string>packet.png</string>
        </dict>
    </dict>
</plist>
