<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>form/form_box_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,669},{1280,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,67}}</string>
                <key>sourceSize</key>
                <string>{1280,67}</string>
            </dict>
            <key>form/form_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,349},{1396,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1396,67}}</string>
                <key>sourceSize</key>
                <string>{1396,67}</string>
            </dict>
            <key>form/form_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,601},{1280,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,67}}</string>
                <key>sourceSize</key>
                <string>{1280,67}</string>
            </dict>
            <key>form/form_box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,533},{1280,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,67}}</string>
                <key>sourceSize</key>
                <string>{1280,67}</string>
            </dict>
            <key>form/form_box_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1905,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1905,67}}</string>
                <key>sourceSize</key>
                <string>{1905,67}</string>
            </dict>
            <key>form/form_box_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,117},{1530,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1530,67}}</string>
                <key>sourceSize</key>
                <string>{1530,67}</string>
            </dict>
            <key>form/form_box_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,465},{1280,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,67}}</string>
                <key>sourceSize</key>
                <string>{1280,67}</string>
            </dict>
            <key>form/form_box_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,233},{1417,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1417,67}}</string>
                <key>sourceSize</key>
                <string>{1417,67}</string>
            </dict>
            <key>form/header_box_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,881},{1280,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,47}}</string>
                <key>sourceSize</key>
                <string>{1280,47}</string>
            </dict>
            <key>form/header_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,417},{1396,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1396,47}}</string>
                <key>sourceSize</key>
                <string>{1396,47}</string>
            </dict>
            <key>form/header_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,833},{1280,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,47}}</string>
                <key>sourceSize</key>
                <string>{1280,47}</string>
            </dict>
            <key>form/header_box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,785},{1280,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,47}}</string>
                <key>sourceSize</key>
                <string>{1280,47}</string>
            </dict>
            <key>form/header_box_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{1530,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1530,47}}</string>
                <key>sourceSize</key>
                <string>{1530,47}</string>
            </dict>
            <key>form/header_box_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,69},{1905,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1905,47}}</string>
                <key>sourceSize</key>
                <string>{1905,47}</string>
            </dict>
            <key>form/header_box_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,737},{1280,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,47}}</string>
                <key>sourceSize</key>
                <string>{1280,47}</string>
            </dict>
            <key>form/header_box_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,301},{1417,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1417,47}}</string>
                <key>sourceSize</key>
                <string>{1417,47}</string>
            </dict>
            <key>record/btn_data_record_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,542},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>record/btn_data_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,542},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>record/btn_dropdown_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,432},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>record/btn_dropdown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,375},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>record/btn_find_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,290},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>record/btn_find_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,233},{100,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,56}}</string>
                <key>sourceSize</key>
                <string>{100,56}</string>
            </dict>
            <key>record/btn_game_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,465},{166,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,66}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>record/btn_game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,487},{166,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,66}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>record/btn_lottery_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,451},{166,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,66}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>record/btn_lottery_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,432},{166,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,66}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>record/btn_report_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,375},{166,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,66}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>record/btn_report_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,284},{166,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,66}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>record/btn_shut_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,184},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>record/btn_shut_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,145},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>record/btn_zhuang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,265},{166,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,66}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>record/btn_zhuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,117},{166,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,66}}</string>
                <key>sourceSize</key>
                <string>{166,66}</string>
            </dict>
            <key>record/dropdown_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,202},{220,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,170}}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>record/fram_date.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,145},{250,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,56}}</string>
                <key>sourceSize</key>
                <string>{250,56}</string>
            </dict>
            <key>record/fram_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,373},{218,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,56}}</string>
                <key>sourceSize</key>
                <string>{218,56}</string>
            </dict>
            <key>record/icon_load.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,489},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>record/scrollbar_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,430},{28,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,168}}</string>
                <key>sourceSize</key>
                <string>{28,168}</string>
            </dict>
            <key>record/spr_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,202},{29,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,62}}</string>
                <key>sourceSize</key>
                <string>{29,62}</string>
            </dict>
            <key>record/txt_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,430},{204,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,56}}</string>
                <key>sourceSize</key>
                <string>{204,56}</string>
            </dict>
            <key>record/txt_zhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,223},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>record/x_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,117},{300,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,27}}</string>
                <key>sourceSize</key>
                <string>{300,27}</string>
            </dict>
            <key>record/y_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,347},{27,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,100}}</string>
                <key>sourceSize</key>
                <string>{27,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>record.png</string>
            <key>size</key>
            <string>{1907,929}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f454405ab8e052f0b6c26dc312827411:1/1$</string>
            <key>textureFileName</key>
            <string>record.png</string>
        </dict>
    </dict>
</plist>
