<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_elected.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,652},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>btn_female.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,668},{27,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,44}}</string>
                <key>sourceSize</key>
                <string>{27,44}</string>
            </dict>
            <key>btn_fillet.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,506},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>btn_male.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,636},{27,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,44}}</string>
                <key>sourceSize</key>
                <string>{27,44}</string>
            </dict>
            <key>btn_name_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,621},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>btn_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,574},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>frame_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,506},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>frame_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>frame_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,502}}</string>
                <key>sourceSize</key>
                <string>{456,502}</string>
            </dict>
            <key>txt_ID：.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,652},{57,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,33}}</string>
                <key>sourceSize</key>
                <string>{57,33}</string>
            </dict>
            <key>txt_IP：.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,652},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>txt_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,506},{189,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,68}}</string>
                <key>sourceSize</key>
                <string>{189,68}</string>
            </dict>
            <key>txt_deposited.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,574},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,29}</string>
            </dict>
            <key>txt_picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{120,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,29}}</string>
                <key>sourceSize</key>
                <string>{120,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{460,697}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc43de0be5e71a1b170da543ed96a7d5:1/1$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
