<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>form/form_box_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{1282,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1282,69}}</string>
                <key>sourceSize</key>
                <string>{1282,69}</string>
            </dict>
            <key>form/form_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1282,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1282,69}}</string>
                <key>sourceSize</key>
                <string>{1282,69}</string>
            </dict>
            <key>form/header_box_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{1282,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1282,49}}</string>
                <key>sourceSize</key>
                <string>{1282,49}</string>
            </dict>
            <key>form/header_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{1282,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1282,49}}</string>
                <key>sourceSize</key>
                <string>{1282,49}</string>
            </dict>
            <key>turnaccount/btn_change_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,73},{168,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,68}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>turnaccount/btn_change_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,73},{168,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,68}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>turnaccount/btn_turn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,73},{168,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,68}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>turnaccount/btn_turn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{168,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,68}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>turnaccount/txt_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,2},{206,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,58}}</string>
                <key>sourceSize</key>
                <string>{206,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>turnaccount.png</string>
            <key>size</key>
            <string>{1560,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aa02888d54d7f2f1915a378c4ac6f23:1/1$</string>
            <key>textureFileName</key>
            <string>turnaccount.png</string>
        </dict>
    </dict>
</plist>
