<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txt_gold_total/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>txt_gold_total/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>txt_gold_total/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>txt_gold_total/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>txt_gold_total/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>txt_gold_total/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,1},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>txt_gold_total/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>txt_gold_total/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>txt_gold_total/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>txt_gold_total/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>txt_gold_total/fram_total_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,47},{260,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,50}}</string>
                <key>sourceSize</key>
                <string>{260,50}</string>
            </dict>
            <key>txt_gold_total/txt_gold_comma.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>txt_gold_total/txt_gold_have_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1},{104,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,45}}</string>
                <key>sourceSize</key>
                <string>{104,45}</string>
            </dict>
            <key>txt_gold_total/txt_gold_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,1},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{17,33}</string>
            </dict>
            <key>txt_gold_total/txt_gold_total.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1},{78,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,45}}</string>
                <key>sourceSize</key>
                <string>{78,45}</string>
            </dict>
            <key>txt_gold_total/txt_hair_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,98},{80,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,52}}</string>
                <key>sourceSize</key>
                <string>{80,52}</string>
            </dict>
            <key>txt_gold_total/txt_over_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,47},{142,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,47}}</string>
                <key>sourceSize</key>
                <string>{142,47}</string>
            </dict>
            <key>txt_gold_total/txt_start_bet .png</key>
            <dict>
                <key>frame</key>
                <string>{{144,98},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>txt_gold_total/txt_start_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,98},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
            <key>txt_gold_total/txt_time_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,98},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>txt_gold_total/txt_time_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,47},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>txt_gold_total/txt_wait_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,98},{142,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,51}}</string>
                <key>sourceSize</key>
                <string>{142,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>txt_gold_total.png</string>
            <key>size</key>
            <string>{454,179}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6877b8551d9b8ac7e7c41c51b00c94c3:1/1$</string>
            <key>textureFileName</key>
            <string>txt_gold_total.png</string>
        </dict>
    </dict>
</plist>
