<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mahjong/icon_cake_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1003},{56,56}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{56,56}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>mahjong/icon_cake_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1003},{56,72}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{56,72}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>mahjong/icon_cake_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,341},{30,62}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{30,62}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>mahjong/icon_cake_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,928},{52,58}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{52,58}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>mahjong/icon_cake_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1145},{46,50}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{46,50}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>mahjong/icon_cake_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,757},{46,58}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{46,58}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>mahjong/icon_cake_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,843},{42,68}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{42,68}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>mahjong/icon_cake_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,928},{64,74}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{64,74}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>mahjong/icon_cake_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,579},{42,76}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{42,76}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>mahjong/icon_cake_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1076},{64,68}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{64,68}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>mahjong/icon_cake_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,460},{86,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,118}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>mahjong/icon_cake_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,341},{86,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,118}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>txt_card/fram_card_back_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,171},{124,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,169}}</string>
                <key>sourceSize</key>
                <string>{124,169}</string>
            </dict>
            <key>txt_card/fram_card_front_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{124,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,169}}</string>
                <key>sourceSize</key>
                <string>{124,169}</string>
            </dict>
            <key>txt_card/icon_logo_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,579},{76,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,91}}</string>
                <key>sourceSize</key>
                <string>{84,91}</string>
            </dict>
            <key>txt_card/icon_logo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,757},{78,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{78,85}}</string>
                <key>sourceSize</key>
                <string>{84,91}</string>
            </dict>
            <key>txt_card/icon_logo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,843},{84,77}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{84,77}}</string>
                <key>sourceSize</key>
                <string>{84,91}</string>
            </dict>
            <key>txt_card/icon_logo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,671},{82,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{82,85}}</string>
                <key>sourceSize</key>
                <string>{84,91}</string>
            </dict>
            <key>txt_card/icon_logo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1287},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>txt_card/icon_logo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1347},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,28}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>txt_card/icon_logo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1287},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>txt_card/icon_logo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1318},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>txt_card/txt_card_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1132},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{36,40}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1352},{28,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1369},{24,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,447},{38,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{38,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1217},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{32,40}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1268},{28,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1196},{30,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1340},{28,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1311},{28,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1258},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{28,40}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1060},{28,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1103},{28,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,703},{46,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,533},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{36,40}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1060},{28,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,816},{24,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{24,40}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,404},{38,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{38,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1311},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{32,40}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1188},{28,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,490},{30,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1145},{28,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,1239},{28,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1173},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{28,40}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1282},{28,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1239},{28,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>txt_card/txt_card_red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,656},{46,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>txt_card.png</string>
            <key>size</key>
            <string>{127,1395}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba83c622f2442a5f17549898cccff395:1/1$</string>
            <key>textureFileName</key>
            <string>txt_card.png</string>
        </dict>
    </dict>
</plist>
