<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txt_time/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>txt_time/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,4},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>txt_time/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,4},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>txt_time/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,4},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>txt_time/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,4},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>txt_time/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,4},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>txt_time/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,4},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>txt_time/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,41},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>txt_time/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,41},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>txt_time/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,41},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>txt_time/txt_hair_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,41},{86,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,52}}</string>
                <key>sourceSize</key>
                <string>{86,52}</string>
            </dict>
            <key>txt_time/txt_start_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,97},{156,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,52}}</string>
                <key>sourceSize</key>
                <string>{156,52}</string>
            </dict>
            <key>txt_time/txt_tim_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,153},{194,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,46}}</string>
                <key>sourceSize</key>
                <string>{194,46}</string>
            </dict>
            <key>txt_time/txt_time_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,203},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>txt_time/txt_time_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,203},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>txt_time/txt_wait_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,285},{158,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,51}}</string>
                <key>sourceSize</key>
                <string>{158,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>txt_time.png</string>
            <key>size</key>
            <string>{202,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dcf04beecc990f503b46742bd766092:1/1$</string>
            <key>textureFileName</key>
            <string>txt_time.png</string>
        </dict>
    </dict>
</plist>
