<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_game_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{744,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{744,334}}</string>
                <key>sourceSize</key>
                <string>{744,334}</string>
            </dict>
            <key>icon_game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{678,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,275}}</string>
                <key>sourceSize</key>
                <string>{678,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{1429,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05a23745aca559666f785f3c51b9f0b0:1/1$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
