<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>longhudou/btn_arrow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1881},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>longhudou/btn_arrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1838},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>longhudou/btn_arrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1983},{25,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,42}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>longhudou/btn_cancel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1884},{136,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,66}}</string>
                <key>sourceSize</key>
                <string>{136,66}</string>
            </dict>
            <key>longhudou/btn_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1627},{136,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,66}}</string>
                <key>sourceSize</key>
                <string>{136,66}</string>
            </dict>
            <key>longhudou/btn_cancelall_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,973},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>longhudou/btn_cancelall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,836},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>longhudou/btn_confirm _0.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,699},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>longhudou/btn_confirm _1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,562},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>longhudou/btn_disable .png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1862},{116,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,51}}</string>
                <key>sourceSize</key>
                <string>{116,51}</string>
            </dict>
            <key>longhudou/btn_repetition_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,425},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>longhudou/btn_repetition_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,288},{134,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,56}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>longhudou/btn_setting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1797},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>longhudou/btn_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1939},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>longhudou/btn_shut_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1931},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>longhudou/btn_shut_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1879},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>longhudou/btn_sitdown_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1634},{110,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,45}}</string>
                <key>sourceSize</key>
                <string>{110,45}</string>
            </dict>
            <key>longhudou/btn_sitdown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1467},{116,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,51}}</string>
                <key>sourceSize</key>
                <string>{116,51}</string>
            </dict>
            <key>longhudou/btn_standup_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1586},{110,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,45}}</string>
                <key>sourceSize</key>
                <string>{110,45}</string>
            </dict>
            <key>longhudou/btn_standup_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1467},{116,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,51}}</string>
                <key>sourceSize</key>
                <string>{116,51}</string>
            </dict>
            <key>longhudou/fram_bottom_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1667},{70,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,167}}</string>
                <key>sourceSize</key>
                <string>{70,167}</string>
            </dict>
            <key>longhudou/fram_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1667},{192,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,85}}</string>
                <key>sourceSize</key>
                <string>{192,85}</string>
            </dict>
            <key>longhudou/fram_close_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{236,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,316}}</string>
                <key>sourceSize</key>
                <string>{236,316}</string>
            </dict>
            <key>longhudou/fram_data_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1364},{414,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,102}}</string>
                <key>sourceSize</key>
                <string>{414,102}</string>
            </dict>
            <key>longhudou/fram_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1361},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>longhudou/fram_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1110},{50,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,154}}</string>
                <key>sourceSize</key>
                <string>{50,154}</string>
            </dict>
            <key>longhudou/fram_mask_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2028},{8,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,161}}</string>
                <key>sourceSize</key>
                <string>{8,161}</string>
            </dict>
            <key>longhudou/fram_selected_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1627},{61,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,171}}</string>
                <key>sourceSize</key>
                <string>{61,171}</string>
            </dict>
            <key>longhudou/fram_total_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{283,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,50}}</string>
                <key>sourceSize</key>
                <string>{283,50}</string>
            </dict>
            <key>longhudou/fram_triangle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1285},{594,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,76}}</string>
                <key>sourceSize</key>
                <string>{594,76}</string>
            </dict>
            <key>longhudou/frame_region_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1916},{109,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,230}}</string>
                <key>sourceSize</key>
                <string>{109,230}</string>
            </dict>
            <key>longhudou/frame_region_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1683},{109,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,198}}</string>
                <key>sourceSize</key>
                <string>{109,198}</string>
            </dict>
            <key>longhudou/frame_region_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1469},{195,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,227}}</string>
                <key>sourceSize</key>
                <string>{195,227}</string>
            </dict>
            <key>longhudou/frame_region_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1683},{195,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,230}}</string>
                <key>sourceSize</key>
                <string>{195,230}</string>
            </dict>
            <key>longhudou/hair_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1469},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>longhudou/hair_card_cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1285},{131,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,73}}</string>
                <key>sourceSize</key>
                <string>{131,73}</string>
            </dict>
            <key>longhudou/icon_block_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1766},{66,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,69}}</string>
                <key>sourceSize</key>
                <string>{66,69}</string>
            </dict>
            <key>longhudou/icon_bracket_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1986},{50,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,23}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>longhudou/lhd_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>longhudou/txt_Data.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1801},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>longhudou/txt_br.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1862},{141,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,23}}</string>
                <key>sourceSize</key>
                <string>{141,23}</string>
            </dict>
            <key>longhudou/txt_cancel_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2015},{85,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,21}}</string>
                <key>sourceSize</key>
                <string>{85,21}</string>
            </dict>
            <key>longhudou/txt_close_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,2011},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>longhudou/txt_close_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2011},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>longhudou/txt_close_ping.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1884},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>longhudou/txt_confirm_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2015},{84,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,21}}</string>
                <key>sourceSize</key>
                <string>{84,21}</string>
            </dict>
            <key>longhudou/txt_dan.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1979},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>longhudou/txt_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1862},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>longhudou/txt_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1809},{79,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,50}}</string>
                <key>sourceSize</key>
                <string>{79,50}</string>
            </dict>
            <key>longhudou/txt_down_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1993},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>longhudou/txt_he.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1879},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>longhudou/txt_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1953},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>longhudou/txt_hud.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1943},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>longhudou/txt_hus.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1891},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>longhudou/txt_long.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2005},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>longhudou/txt_long_ping_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1627},{62,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,167}}</string>
                <key>sourceSize</key>
                <string>{62,167}</string>
            </dict>
            <key>longhudou/txt_longd.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1924},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>longhudou/txt_longs.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1891},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>longhudou/txt_losing.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2012},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>longhudou/txt_manor.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1336},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>longhudou/txt_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1839},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>longhudou/txt_ping.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1940},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>longhudou/txt_pingj.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1881},{59,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,30}}</string>
                <key>sourceSize</key>
                <string>{59,30}</string>
            </dict>
            <key>longhudou/txt_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1884},{141,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,23}}</string>
                <key>sourceSize</key>
                <string>{141,23}</string>
            </dict>
            <key>longhudou/txt_repeat_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1682},{85,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,21}}</string>
                <key>sourceSize</key>
                <string>{85,21}</string>
            </dict>
            <key>longhudou/txt_shuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1986},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>longhudou/txt_te.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1469},{141,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,23}}</string>
                <key>sourceSize</key>
                <string>{141,23}</string>
            </dict>
            <key>longhudou/txt_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1755},{79,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,51}}</string>
                <key>sourceSize</key>
                <string>{79,51}</string>
            </dict>
            <key>longhudou/txt_winning.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2012},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>zhuang/btn_grab_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1926},{86,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>zhuang/btn_grab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1837},{86,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>zhuang/btn_grab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1682},{86,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>zhuang/txt_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1862},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>zhuang/txt_cancel_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1957},{49,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,26}}</string>
                <key>sourceSize</key>
                <string>{49,26}</string>
            </dict>
            <key>zhuang/txt_even.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1267},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>zhuang/txt_even_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1851},{66,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,25}}</string>
                <key>sourceSize</key>
                <string>{66,25}</string>
            </dict>
            <key>zhuang/txt_grab.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1770},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>zhuang/txt_grab_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1981},{49,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,26}}</string>
                <key>sourceSize</key>
                <string>{49,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>longhudou.png</string>
            <key>size</key>
            <string>{783,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:645b5257dbee3b9596499683ac6c4103:1/1$</string>
            <key>textureFileName</key>
            <string>longhudou.png</string>
        </dict>
    </dict>
</plist>
