<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_game_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{744,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{744,556}}</string>
                <key>sourceSize</key>
                <string>{744,556}</string>
            </dict>
            <key>icon_game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,561},{678,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,367}}</string>
                <key>sourceSize</key>
                <string>{678,367}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{748,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ec74ef9bd4a339ecaf33b4c5b594fe2:1/1$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
