<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>History/fram_log_flat.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1983},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/fram_log_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1948},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/fram_log_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1359},{108,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,204}}</string>
                <key>sourceSize</key>
                <string>{108,204}</string>
            </dict>
            <key>History/fram_log_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1948},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/txt_Ztype_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1590},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>History/txt_Ztype_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1590},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>History/txt_Ztype_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1590},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>History/txt_Ztype_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1590},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>History/txt_Ztype_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1590},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>History/txt_Ztype_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1590},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>History/txt_Ztype_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1590},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>History/txt_Ztype_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1590},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>History/txt_Ztype_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1590},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>History/txt_Ztype_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1590},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>History/txt_Ztype_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1590},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>History/txt_Ztype_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1590},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>History/txt_Ztype_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1590},{76,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{76,26}</string>
            </dict>
            <key>History/txt_type_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1913},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/txt_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1878},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/txt_type_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1843},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/txt_type_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1808},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/txt_type_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1773},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/txt_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1738},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/txt_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1703},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/txt_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1579},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/txt_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1579},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/txt_type_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1668},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/txt_type_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1579},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/txt_type_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1579},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>History/txt_type_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1291},{88,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,34}}</string>
                <key>sourceSize</key>
                <string>{88,34}</string>
            </dict>
            <key>compare/icon_box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1671},{663,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,307}}</string>
                <key>sourceSize</key>
                <string>{663,307}</string>
            </dict>
            <key>compare/icon_box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1282},{665,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{665,307}}</string>
                <key>sourceSize</key>
                <string>{665,307}</string>
            </dict>
            <key>compare/txt_Defeat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1979},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Defeat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1836},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>compare/txt_Defeat_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1979},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Defeat_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1803},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>compare/txt_Defeat_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1546},{92,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,32}}</string>
                <key>sourceSize</key>
                <string>{92,32}</string>
            </dict>
            <key>compare/txt_Defeat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1770},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>compare/txt_Defeat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1737},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>compare/txt_Defeat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1902},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>compare/txt_Defeat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1979},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Defeat_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1704},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>compare/txt_Defeat_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1979},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Defeat_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1979},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Defeat_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1979},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Win_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1979},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1671},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>compare/txt_Win_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1979},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Win_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1979},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>compare/txt_Win_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1468},{92,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,32}}</string>
                <key>sourceSize</key>
                <string>{92,32}</string>
            </dict>
            <key>compare/txt_Win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1979},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>compare/txt_Win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1979},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>compare/txt_Win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1869},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>compare/txt_Win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1979},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1979},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>compare/txt_Win_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1979},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Win_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1979},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>compare/txt_Win_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1979},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{62,32}</string>
            </dict>
            <key>niuniu/bg_game.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>niuniu/fram_game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,486},{260,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,198}}</string>
                <key>sourceSize</key>
                <string>{260,198}</string>
            </dict>
            <key>niuniu/fram_game_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,968},{220,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,198}}</string>
                <key>sourceSize</key>
                <string>{220,198}</string>
            </dict>
            <key>niuniu/fram_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1380},{290,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,52}}</string>
                <key>sourceSize</key>
                <string>{290,52}</string>
            </dict>
            <key>niuniu/fram_log_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,120},{104,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,199}}</string>
                <key>sourceSize</key>
                <string>{104,199}</string>
            </dict>
            <key>niuniu/fram_log_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1189},{101,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,198}}</string>
                <key>sourceSize</key>
                <string>{101,198}</string>
            </dict>
            <key>niuniu/fram_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1291},{162,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,60}}</string>
                <key>sourceSize</key>
                <string>{162,60}</string>
            </dict>
            <key>niuniu/fram_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1590},{418,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,106}}</string>
                <key>sourceSize</key>
                <string>{418,106}</string>
            </dict>
            <key>niuniu/fram_type_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1},{118,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,201}}</string>
                <key>sourceSize</key>
                <string>{118,201}</string>
            </dict>
            <key>niuniu/img_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,225},{260,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,198}}</string>
                <key>sourceSize</key>
                <string>{260,198}</string>
            </dict>
            <key>niuniu/img_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,747},{220,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,198}}</string>
                <key>sourceSize</key>
                <string>{220,198}</string>
            </dict>
            <key>niuniu/txt_data.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1282},{54,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,76}}</string>
                <key>sourceSize</key>
                <string>{54,76}</string>
            </dict>
            <key>niuniu/txt_he.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1515},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>niuniu/txt_info_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2009},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>niuniu/txt_info_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2009},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>niuniu/txt_info_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2009},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>niuniu/txt_info_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1468},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>niuniu/txt_player_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1562},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>niuniu/txt_player_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1520},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>niuniu/txt_player_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1494},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>niuniu/txt_player_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1468},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>niuniu/txt_ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1468},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>zhuang/btn_grab_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1590},{86,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,74}}</string>
                <key>sourceSize</key>
                <string>{86,74}</string>
            </dict>
            <key>zhuang/btn_grab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1590},{86,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,74}}</string>
                <key>sourceSize</key>
                <string>{86,74}</string>
            </dict>
            <key>zhuang/btn_grab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1590},{86,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,74}}</string>
                <key>sourceSize</key>
                <string>{86,74}</string>
            </dict>
            <key>zhuang/txt_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1979},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>zhuang/txt_cancel_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1979},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>zhuang/txt_even.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1979},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>zhuang/txt_even_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1979},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>zhuang/txt_grab.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1979},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
            <key>zhuang/txt_grab_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1979},{66,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,26}}</string>
                <key>sourceSize</key>
                <string>{66,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niuniu.png</string>
            <key>size</key>
            <string>{926,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53370b71ff9c06325cba2864561e467d:1/1$</string>
            <key>textureFileName</key>
            <string>niuniu.png</string>
        </dict>
    </dict>
</plist>
