<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_game_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,2},{744,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{744,429}}</string>
                <key>sourceSize</key>
                <string>{744,429}</string>
            </dict>
            <key>icon_game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{678,462}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,462}}</string>
                <key>sourceSize</key>
                <string>{678,462}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{1429,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3600fb5061d31c1b933ad97c0270cd35:1/1$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
